@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Anton', sans-serif;
}

#game {
    display: flex;
    background-color: rgb(32, 32, 32);
}

.genre-title {
    font-size: 35px;
    text-align: center;
}

.heading {
    color: yellow;
    font-size: 60px;
    font-weight: normal;
}

.card {
    width: 160px;
    height: 120px;
    background-color: rgb(26, 26, 255);
    border-left: solid rgb(19, 19, 160) 10px;
    border-right: solid rgb(11, 11, 91) 10px;
    border-bottom: solid rgb(20, 20, 89) 10px;
    border-top: solid rgb(1, 61, 200) 10px;
    text-align: center;
    font-size: 100px;
    margin: 5px;
    padding: 10px;
    line-height: 120px;
}

.card.clicked {
    filter: grayscale(100%);
    pointer-events: none; 
}

.modal {
    position: fixed;
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: black;
    padding: 2em;
    border-radius: 3em; 
    position: relative;
    text-align: center;
    width: 100%; 
    max-width: 30em; 
    height: auto; 
    font-size: 3em; 
}


.close-btn {
    color: white;
    position: absolute;
    top: 1em; 
    right: 1em; 
    font-size: 1.5em; 
    cursor: pointer;
    
}

.answer-button {
    background-color: rgb(26, 26, 255);
    color: white;
    border-radius: 40px;
    padding: 0.5em; 
    margin-top: 50px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}